@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.loading-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
}