.att_List{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 2%;
    gap:10px;

}
@media (width<426px) {
    .att_List{
        display: none;
    }
    
}

.att_parent{
    padding-left:5% ;
    padding-right:5% ;
    width:max-content;
    height: 50px;
    border: 1px solid rgb(7, 84, 199);
    border-radius:10px ;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.att_ans{
   
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    

}

.att_que{
    
    top:20px;
    font-size: 10px;
    font-weight: 100;



}
@media (width<1028px){
    .att_ans{
        font-size: calc(7px + 2 * ((100vw - 320px) / 448));

    }

}