@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.popup_Parent{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
   
    background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.5px);

    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.popup{
    width:60%;
    height: 70%;
    background: white;
    border-radius: 10px;
    display: flex;

}


.section-1{
width: 60%;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.section-1 img{
  
    max-width: 80%;
    max-height: 80%;
    border-radius:10px;
   

    
}
.section-2{
margin-top: 5%;
width: 40%;
padding-right: 1%;

}
.section-2-child{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    max-width: 100%;
    max-height: 100%;
    gap: 10px;

}

.knowmore{
    font-size: 15px;
    color: #2081E2;
}
.makeOffer button{
    margin-top: 1%;
    padding: 4% 9% 4% 9%;
    border-radius: 10px;
    border:none;
    outline: none;
    background-color: #2081E2;
    color:white;
    font-weight: 700;
    cursor: pointer;
}

.section-2 label:nth-child(1){
    font-size: 28px;
    /* border: 1px solid black; */
}

.section-2 label:nth-child(2){
    font-size: 14px;



}

a{
    text-decoration: none;
    color: #2081E2;
}
.walletAdd{
    font-size: 14px !important;


}
.walletAdd a{
    cursor: pointer;
}

@media (width<1028px) {
    .section-2 label:nth-child(1){
        font-size: calc(16px + 2 * ((100vw - 320px) / 448));
    }
    .section-2 label:nth-child(2){
        font-size: calc(10px + 2 * ((100vw - 320px) / 448));

    }
    .knowmore{
        font-size: calc(7px + 2 * ((100vw - 320px) / 448));

    }
    .walletAdd{
        font-size: calc(10px + 2 * ((100vw - 320px) / 448)) !important;

    }
    
}
@media (width<788px){
    .popup{
        width: 75%;
    }

}
@media (width<638px){
    .popup{
        width: 85%;
    }

}

@media (width<426px){
.popup{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
}
.section-1{
    width: 80%;
    max-height: 60%;
    /* border: 1px solid red; */
}
.section-1 img{
    max-width: 95%;
    max-height: 95%;

}
.section-2{
    margin-top: 0%;
    width: 80%;
    max-height: 40%;
    /* border: 1px solid red; */
    padding-right: 0%;

}
.section-2-child{
    padding-left: 2%;
}
.makeOffer button{
    background-color: transparent;
    color:#2081E2;
    margin-top: 0%; 
    padding: 0%; 
    float: right;
}
.makeOffer button::after{

    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-image: url("../../assets/rightarrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;
}

}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }