@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.error-Area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    /* border:  1px solid black; */
}